<a href="https://colab.research.google.com/github/jillaabhishek/PythonPractice/blob/main/Python_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Finding Unique Elements in a string

In [4]:
my_string = "clcoding"
temp_set = set(my_string)
print(temp_set)
new_string = ''.join(temp_set)
print(new_string)

{'c', 'o', 'd', 'g', 'i', 'l', 'n'}
codgiln

Using the Title Case (First Letter Caps)

In [5]:
my_string = "my name is Python Coding"
## using the title() function of string class
new_string = my_string.title()
print(new_string) #

My Name Is Python Coding

Reversing a string

In [11]:
## Reversing a string using slicing
my_string = "CLCODING"
reversed_string = my_string[::-1]
print(reversed_string) ##clcoding.com

GNIDOCLC

Printing a String or a List n Times

In [12]:
n = 3 #number of repetitions
my_string= "CLCODING"
my_list = [1, 2, 3]
print(my_string * n)
print(my_list * n)

CLCODINGCLCODINGCLCODING
[1, 2, 3, 1, 2, 3, 1, 2, 3]

Combining a List of Strings into a Single String

In [14]:
list_of_strings = ["My", "name", "is", "Python", "Coding"]
print(' '.join(list_of_strings))

My name is Python Coding

Swap Values Between Two Variables

In [15]:
a = 1
b = 2
a, b = b, a
print(a)
print(b)

2
1

split a String Into a List of Substrings

In [17]:
string_1 = "My name is Python Coding"
string_2 = "sample/ string 2"

## default separator ' '
print(string_1.split())

## defining separator as '/'
print(string_2.split('/'))

['My', 'name', 'is', 'Python', 'Coding']
['sample', ' string 2']

List Comprehension

In [ ]:
## Multiplying each element in a list by 2

In [18]:
original_list = [1, 2, 3, 4, 5]
new_list = [2 * x for x in original_list]
print(new_list)

[2, 4, 6, 8, 10]

Check If a Given String Is a Palindrome or Not

In [20]:
my_string = "abcba"
if my_string == my_string[::-1]:
  print('Palindrome')
else:
  print('Not Palindrome')

Not Palindrome

Using Enumerator to Get Index/Value Pairs

In [21]:
my_list = ['a', 'b', 'c', 'd', 'e']
for index, value in enumerate(my_list):
  print('{0}: {1}'.format(index, value))

0: a
1: b
2: c
3: d
4: e

Find Whether Two Strings are Anagrams

In [22]:
from collections import Counter
str_1, str_2, str_3 = "acbde", "abced", "abcda"
cnt_1, cnt_2, cnt_3 = Counter(str_1), Counter(str_2), Counter(str_3)

if cnt_1 == cnt_2:
  print('1 and 2 Anagram')
else:
  print('1 and 3 anagram')

1 and 2 Anagram

Using the try-except-else Block

In [24]:
a, b = 1, 5

try:
  print(a/b)
  # exception raised when b is 0
except ZeroDivisionError:
  print('division by zero')
else:
  print('no exceptions raised')
finally:
  print('Run this always')

0.2
no exceptions raised
Run this always

Frequency of Elements in a List

In [26]:
from collections import Counter
my_list = ['a', 'a', 'b', 'b','b', 'c', 'd','d','d','d', 'd']
count = Counter(my_list) 
print(count)
print(count['b'])
print(count.most_common(2))

Counter({'d': 5, 'b': 3, 'a': 2, 'c': 1})
3
[('d', 5), ('b', 3)]

Check the Memory Usage of an Object

In [28]:
import sys
num =21
print(sys.getsizeof(num))

28

Sampling From a List

In [31]:
import random
my_lit = ['a', 'b', 'c', 'd', 'e']
num_samples = 2
samples = random.sample(my_list, num_samples)
print(samples)

['b', 'd']